/* Card Page */

.container {
    padding: 26px;
}

.label1{
    position: absolute;
    width: auto;
    height: 0px;
    left: auto;
    top: 151px;

}

/* Boards */

.boards_title{
    position: absolute;
    width: 56px;
    height: 25px;
    left: 30px;
    top: 17px;

    font-family: Avenge;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */

    color: #000000;

}

a {
    text-decoration: none;
  }
a:hover {
    text-decoration: none;
  }
a:visited{
    color: inherit;
  }


.board_card{
    width: 320px;
    height: auto;
    margin: 35px auto 26px 0px; 
    
    background: #F4F4F4;
    border-radius: 10px;
}

.board_title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 25px;
    width: 290px;
    margin: 32px auto 6px 17px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.board_contens{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 15px;
    width: 290px;
    margin: 6px auto 29px 17px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    
    color: #000000;
  
}

.add_new_board{
    width: 320px;
    height: 160px;
    margin: 26px 26px 26px 0px;

    background: #FFFFFF;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}

.add_new_board_name{
    height: 25px;
    width: 143px;
    margin: 67px 100px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.board_dropdown{
  height: 7px;
  width: 24px;
  margin: 40px 15px 12px 25px;
}

.board_flex_box{
  display: flex;
}

/* Line */

.line{
    position: absolute;
    width: 375px;
    height: 1px;
    left: 0px;
    top: 58px;

    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.1;

}

/* New Comment */

.new_comment{
    height: 27px;
    left: 26px;
    margin: 30px auto 35px 0px;

    font-family: Avenge;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

/* Name */
.name{
    margin-top: 25px;
    position: absolute;
    width: 250px;
    height: 25px;

    font-family: Avenge;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #000000;
}

/* Rectangle */

.rectangle{
    margin-top: 55px;
    width: 310px;
    height: 40px;

    background: #F4F4F4;
    border-radius: 10px;
}

.content_input{
position: absolute;
width: 310px;
height: 203px;
left: 0px;
top: 250px;

background: #F4F4F4;
border-radius: 10px;
}

/* Tag */

.submit_btn{
    position: absolute;
    width: 310px;
    height: 40px;
    left: 0px;
    top: 500px;
    border: #FFFFFF;

    background: #F8BD1C;
    border-radius: 4px;
    // transform: matrix(1, 0, 0, -1, 0, 0);

    font-family: Vanir;
    font-style: normal;
    font-size: 18px;
    /* identical to box height */


    color: #FFFFFF;
}

.notice {
    position: fixed;
    top: 45px;
    font-size: 12px;
    color: blue;
    right: 16px;
    width: 160px;
    background: white;
    -webkit-animation: fade-in-out;
    animation: fade-in-out;
    visibility: hidden;
    z-index: 1;
    padding: 16px;
    animation-duration: 8s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  $image_size: 40px;

.profilePage {
  margin-top: 24px;

  &_user {
    display: flex;

    &_image {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: $image_size;
        height: $image_size;
      }
    }

    &_basicInfo {
      margin-left: 16px;
    }

    &_actionButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
      border-radius: 4px;
      border: 1px solid orange;
      font-weight: bold;
      padding: 0px 8px;

      a {
        color: orange;
      }
    }

    &_name {
      display: flex;
      margin-bottom: 8px;
    }

    &_displayName {
      font-size: 18px;
      font-weight: bold;
      margin-right: 8px;
    }

    &_introduction {
      font-size: 12px;
    }
  }
}


.header_avatar{
  display: inline-block;
  height: 60px;
  width: 60px;
  position: absolute; top: 10px; left: 310px;

  img {
    width: $image_size;
    height: $image_size;
  }

}

.boards_avatar{
  height: 40px;
  width: 40px;
  margin: 29px 290px 20px 20px;
  padding: 10px;

  img {
    width: $image_size;
    height: $image_size;
  }

}


.child {
  display: none;
  position: relative; left: -50px;
  padding: 15px;
  margin-right: 5px;
  height: 50px;
  width: 50px;
  background-color: white;

  a{
    font-size: 12px;
    line-height: 2em;
  }
}

.avatar_child{
  display: none;
  position: relative; left: -50px;
  width: 50px;
  height: 50px;
  padding: 15px;
  margin: 10px;
  background-color: #f1eeee;
  font-size: 12px;
}

.board_dropdown:hover .child {
  display: inline-block;
}

.header_avatar:hover .avatar_child {
  display: block;
}

.imgbox{
  text-align: center;
}

.board_eyecatch{
  width: 300px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
}