/* Card Page */

.container {
    padding: 26px;
}

.label1{
    position: absolute;
    width: auto;
    height: 0px;
    left: auto;
    top: 151px;

}

/* Boards */

.boards{
    position: absolute;
    width: 56px;
    height: 25px;
    left: 30px;
    top: 17px;

    font-family: Avenge;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    /* identical to box height */

    color: #000000;
}

/* Line */

.line{
    position: absolute;
    width: 375px;
    height: 1px;
    left: 0px;
    top: 58px;

    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.1;

}

/* New Comment */

.new_comment{
    position: absolute;
    height: 92px;
    left: 26px;
    right: 150px;
    top: 92px;

    font-family: Avenge;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 36px;
    color: #000000;
}

/* Name */
.name{
    margin-top: 33px;
    position: absolute;
    width: 250px;
    height: 25px;

    font-family: Avenge;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #000000;
}

/* Rectangle */

.rectangle{
    margin-top: 55px;
    width: 310px;
    height: 40px;

    background: #F4F4F4;
    border-radius: 10px;
}

.content_input{
position: absolute;
width: 310px;
height: 203px;
left: 0px;
top: 200px;

background: #F4F4F4;
border-radius: 10px;
}

/* Tag */

.submit_btn{
    position: absolute;
    width: 310px;
    height: 40px;
    left: 0px;
    top: 600px;
    border: #FFFFFF;

    background: #F8BD1C;
    border-radius: 4px;
    // transform: matrix(1, 0, 0, -1, 0, 0);

    font-family: Vanir;
    font-style: normal;
    font-size: 18px;
    /* identical to box height */


    color: #FFFFFF;
}

.notice {
    position: fixed;
    top: 45px;
    font-size: 12px;
    color: blue;
    right: 16px;
    width: 160px;
    background: white;
    -webkit-animation: fade-in-out;
    animation: fade-in-out;
    visibility: hidden;
    z-index: 1;
    padding: 16px;
    animation-duration: 8s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  }

  $image_size: 56px;

.profilePage {
  margin-top: 24px;

  &_user {
    display: flex;

    &_image {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: $image_size;
        height: $image_size;
      }
    }

    &_basicInfo {
      margin-left: 16px;
    }

    &_actionButton {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 12px;
      border-radius: 4px;
      border: 1px solid orange;
      font-weight: bold;
      padding: 0px 8px;

      a {
        color: orange;
      }
    }

    &_name {
      display: flex;
      margin-bottom: 8px;
    }

    &_displayName {
      font-size: 18px;
      font-weight: bold;
      margin-right: 8px;
    }

    &_introduction {
      font-size: 12px;
    }
  }
}
